@import "kouto-swiss"
@import "helpers"
@import "swiper"
@import "fonts"

// ******************************************************

// FONTS

// ******************************************************

// ICONS FONTS

// ** https://genericons.com WP icon font set
// @import "fonts/icons/genericons"

// ** minimal version of Google Materialize UI icons. check the styl for usage
@import "fonts/icons/materialize-min"

// ** full set of Google Materialize. https://design.google.com/icons/
// @import "fonts/icons/materialize"

// ******************************************************

meyer-reset()
box-sizing-reset()
normalize()

// ******************************************************

// GRID

$cols = 12
$gutter = 14px

.container
  margin: 0 auto
  width: 96%

.row
  box-sizing: border-box
  display: flex
  flex: 0 1 auto
  flex-direction: row
  flex-wrap: wrap
  &.reverse
    flex-direction: row-reverse

.column
  box-sizing: border-box
  display: flex
  flex: 0 1 auto
  flex-direction: column
  &.reverse
    flex-direction: column-reverse

.u-flex
  display: flex

// FLEX POSITIONING

.justify-start
  justify-content: flex-start

.justify-center
  justify-content: center

.justify-end
  justify-content: flex-end

.justify-between
  justify-content: space-between

.align-start
  align-items: flex-start

.align-center
  align-items: center

.align-end
  align-items: flex-end

.align-content-start
  align-content: flex-start

.align-content-center
  align-content: center

.align-content-end
  align-content: flex-end

// COLUMN SIZES & OFFSETS

.col
  flex: 0 1 auto
  box-sizing: border-box
  max-width: 100%
  padding: 0 ($gutter / 2)
  margin-bottom: $gutter

.table-row .col
  margin: ($gutter / 2) 0

.col.col-no-margin-bottom
  margin-bottom: 0

.col.col-no-gutter
  padding-left: 0
  padding-right: 0

for offset in 0..($cols - 1)
  .offset-s-{offset}
    margin-left: ( 100% / $cols ) * offset

for col in 1..$cols
  .col-s-{col}
    flex-basis: ( 100% / $cols ) * col
    max-width: ( 100% / $cols ) * col

// ******************************************************

// VARIABLES

$golden-ratio = 1.61803398875

$margin-small = ($gutter)
$margin-tiny = ($gutter / 2)
$margin-micro = ($gutter / (2 * $golden-ratio))
$margin-basic = ($gutter * 2)
$margin-mid = ($gutter * 3.5)
$margin-large = ($gutter * 5)

$font-leading-basic = 1.35
$font-leading-tighter = 1.15
$font-leading-larger = 1.45

$font-tracking-basic = 0.001em
$font-tracking-wider = 0.05em

$color-black-soft = rgb(14, 14, 14)
$color-white = rgb(255, 255, 255)
$color-grey = rgb(127, 127, 127)

$border-width = 2px

$speed-transition-fast = .1s

$header-height = 111px
$footer-height = 34px

// ******************************************************

// TYPOGRAPHY

html
  font-family: "Montserrat", font-stack('Helvetica')
  font-size: 12px

body
  line-height: $font-leading-basic

h1,h2,h3,h4,h5
  margin: 0
.font-nav
  font-size: 9px
  font-family: "Montserrat", font-stack('Helvetica')
  font-style: normal
  font-weight: normal
  letter-spacing: .15em
  text-transform: uppercase

.font-nav-splash
  font-size: 13px
  font-family: "Montserrat", font-stack('Helvetica')
  font-style: normal
  font-weight: bold
  text-transform: uppercase

// PRODUCT FONT
.font-product-title
  font-size: 16px
  font-family: "Montserrat", font-stack('Helvetica')
  font-style: normal
  font-weight: bold
  text-transform: uppercase

.font-product-content
  font-size: 15px
  font-family: 'Crimson Text', font-stack('Georgia')
  line-height: 2em
  font-style: italic
  font-weight: normal

.font-product-attr
  font-size: 10px
  font-family: "Montserrat", font-stack('Helvetica')
  font-style: normal
  font-weight: normal
  text-transform: uppercase

.font-product-price
  font-size: 12px
  font-family: "Montserrat", font-stack('Helvetica')
  font-style: normal
  font-weight: bold
  text-transform: uppercase

// SHOP FONT

.font-shop-title
  font-size: 12px
  font-family: "Montserrat", font-stack('Helvetica')
  font-style: normal
  font-weight: normal
  letter-spacing: .15em
  text-transform: uppercase

// POST FONT

.font-post-title
  font-size: 11px
  font-family: "Montserrat", font-stack('Helvetica')
  font-style: normal
  font-weight: normal
  letter-spacing: .15em
  text-transform: uppercase

.font-post-content
  font-size: 12px
  font-family: 'Crimson Text', font-stack('Georgia')
  font-style: normal
  font-weight: normal

.font-post-meta
  font-size: 10px
  font-family: "Montserrat", font-stack('Helvetica')
  font-style: normal
  font-weight: normal
  text-transform: uppercase

p
  margin-bottom: 1rem

  // FONT RULES

.font-serif
  font-family: 'Crimson Text', font-stack('Georgia')

.font-italic
  font-style: italic

.font-bold
  font-weight: bold

.font-small-caps
  font-size: 0.85em
  text-transform: uppercase

.font-uppercase
  text-transform: uppercase

.font-capitalize
  text-transform: capitalize

.font-transform-none
  text-transform: none

.font-letter-spaced
  letter-spacing: .15em

.font-leading-larger
  line-height: $font-leading-larger

  // TEXT RULES

.text-overflow-ellipsis
  overflow: ellipsis

.text-align-left
  text-align: left

.text-align-right
  text-align: right

.text-align-center
  text-align: center

  // LINKS

a,
a:active,
a:visited
  color: inherit
  text-decoration: none

p
  a,
  a:active,
  a:visited
    text-decoration: none

// ******************************************************

// BASIC

html
  background-color: $color-white
  color: $color-black-soft

#main-content
  min-height: calc('100vh - ' + ($header-height + $footer-height))

img
  max-width: 100%
  height: auto

.pagination-button
  padding-left: $margin-small
  img
    height: 30px

.product-content
  p
    line-height: 2
  p:last-of-type
    margin-bottom: 0

input
  max-width: 100%

.table-row
  border-bottom: $border-width solid $color-black-soft

button.button-shop,
a.button-shop,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce .cart .button,
.woocommerce .cart input.button,
.woocommerce #respond input#submit
  appearance: none
  background: $color-black-soft
  color: $color-white
  border-radius: 0
  border: $border-width solid $color-black-soft
  display: inline-block
  padding: 14px 14px
  line-height: .5
  letter-spacing: .15em
  font-size: 10px
  text-transform: uppercase
  &:focus
    outline: 0
  &:hover
    background: $color-white
    color: $color-black-soft
    font-weight: bold
  &.disabled,
  &:disabled,
  &:disabled[disabled]
    padding: 14px 14px
    color: $color-white
    opacity: 1
    background: $color-grey
    border-color: $color-grey

.woocommerce-message,
.woocommerce-info
  display:none

#order_review
  .table-row.cart_item
    border-bottom: 0

// ******************************************************

// MARGINS AND PADDING

  // MARGIN TOP

.margin-top-micro
  margin-top: $margin-micro

.margin-top-tiny
  margin-top: $margin-tiny

.margin-top-small
  margin-top: $margin-small

.margin-top-basic
  margin-top: $margin-basic

.margin-top-mid
  margin-top: $margin-mid

.margin-top-large
  margin-top: $margin-large

  // MARGIN BOTTOM

.margin-bottom-micro
  margin-bottom: $margin-micro

.margin-bottom-tiny
  margin-bottom: $margin-tiny

.margin-bottom-small
  margin-bottom: $margin-small

.margin-bottom-basic
  margin-bottom: $margin-basic

.margin-bottom-mid
  margin-bottom: $margin-mid

.margin-bottom-large
  margin-bottom: $margin-large

  // PADDING TOP

.padding-top-micro
  padding-top: $margin-micro

.padding-top-tiny
  padding-top: $margin-tiny

.padding-top-small
  padding-top: $margin-small

.padding-top-basic
  padding-top: $margin-basic

.padding-top-mid
  padding-top: $margin-mid

.padding-top-large
  padding-top: $margin-large

  // PADDING BOTTOM

.padding-bottom-micro
  padding-bottom: $margin-micro

.padding-bottom-tiny
  padding-bottom: $margin-tiny

.padding-bottom-small
  padding-bottom: $margin-small

.padding-bottom-basic
  padding-bottom: $margin-basic

.padding-bottom-mid
  padding-bottom: $margin-mid

.padding-bottom-large
  padding-bottom: $margin-large

// ******************************************************

// SPLASH

.splash-container
  position: fixed
  width: 100%
  height: 100%
  top: 0
  left: 0
  display: flex
  justify-content: center
  flex-direction: column

.splash-swiper
  position: fixed !important
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: -9999

.splash-slide
  background-size: cover
  background-position: center
  background-repeat: no-repeat

.splash-header
  position: absolute
  width: 100%
  bottom: 20%

.splash-logo
  fill: $color-white
  svg
    width: 100%
    height: auto

.splash-nav
  font-size: $font-size-basic
  ul
    display: flex
    flex-direction: row
    justify-content: space-between

// ******************************************************

// HEADER

.menu-item
  margin-right: $margin-tiny
  &:last-of-type
    margin-right: 0
  a:hover, &.active
    color: $color-grey


.header-cart
  display: flex
  justify-content: flex-end
  align-items: center
  img
    width: 16px
    height: auto
    margin-right: $margin-micro

#searchform
  input
    appearance: none
    border: 0
    background: none
    &:focus
      outline: none

#header-logo
  text-align: center
  svg
    width: 140px
  .logo-path
    fill: $color-black-soft

// ******************************************************

// PRODUCT ARCHIVE

.shop-product
  position: relative
  img
    display: block
    width: 100%
  &:hover
    .shop-product-title-holder, .shop-product-sold-text
      opacity: 1

.shop-product-title-holder
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 50
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: rgba(255, 255, 255, .5)
  opacity: 0
  transition: opacity $speed-transition-fast

.shop-product-title
  margin: $margin-basic $margin-tiny $margin-basic
  padding: 0 $margin-small

.shop-product-sold
  position: absolute
  top: 0
  left: $margin-tiny
  padding: $margin-small
  color: $color-white

img.shop-product-sold-icon
  width: auto
  height: 18px
  display: inline-block

.shop-product-sold-text
  opacity: 0
  transition: opacity $speed-transition-fast

// ******************************************************

// WOO BUTTONS

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button
  font-weight: normal

// ******************************************************

// WOO MESSAGES

.woocommerce-message, .woocommerce-info
  border-top: none

// ******************************************************

// WOO CART

.product-quantity
  .input-text
    padding: 0
    border: none
    text-align: center

#coupon_code
  flex-grow 1

.cross-sells
  display: none

.woocommerce table.shop_table td
  padding: $margin-tiny

.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals
  width: 100%

.woocommerce a.remove
  color: $color-black-soft !important

.woocommerce a.remove:hover
  color: $color-black-soft !important
  background: transparent

#add_payment_method table.cart img, .woocommerce-cart table.cart img, .woocommerce-checkout table.cart img
  width: 100px

.woocommerce table.shop_table
  border-radius: 0
  border: solid $color-black-soft
  border-width: $border-width 0
  th
    padding: $margin-small 0
  td
    padding: $margin-small 0
    border: solid $color-black-soft
    border-width: $border-width 0 0

.woocommerce-cart .cart-collaterals .cart_totals tr td,
.woocommerce-cart .cart-collaterals .cart_totals tr th
  border: solid $color-black-soft
  border-width: $border-width 0 0

.woocommerce-shipping-calculator
  text-align: left

// ******************************************************

// ARCHIVE EDITORIAL

#posts-archive-editorial
  min-height: calc('100vh - ' + ($header-height + $footer-height))

#archive-editorial-titles
  margin-left: $margin-basic

// ******************************************************

// JOURNAL

.journal-post
  width: 100%
  p
    a,
    a:active,
    a:visited
      text-decoration: underline

.post-image
  margin-left: auto
  margin-right: auto
  display: block

// ******************************************************

// SINGLE EDITORIAL

.slider-row
  flex-flow: row wrap-reverse

.slide-column
  height: 100%
  display: flex
  flex-direction: column
  img
    max-height: 100%
    width: auto

.slider-pagination-holder
  flex-grow: 1

.slider-button
  background: transparent
  border: none
  display: inline-block
  width: 30px
  height: 30px
  -webkit-appearance: none
  padding: 0
  svg
    width: 100%
    height: 100%
    path
      fill: $color-black-soft
  &:focus
    outline: none

// ******************************************************

// CHECKOUT

p.form-row
  flex: 1 1 100%
  label
    display: block
    margin-bottom: $margin-micro
    &.checkbox
      display: inline-block
  input, textarea
    width: 100%
  .input-checkbox
    width: auto

.wc_payment_method
  img
    display: block


// ******************************************************

// FOOTER

.social-icon
  width: 16px
  margin-right: $margin-tiny

.post-date
  display: inline-block
  color: $color-grey
  border-bottom: $border-width solid $color-grey


// ******************************************************

// MEDIA QUERIES

.only-mobile
  display: initial
  &.row, &.column
    display: flex

.only-desktop, .row.only-desktop, .column.only-desktop
  display: none

@media screen and (min-width: 750px)

  @import "responsive/tablet"

@media screen and (min-width: 1150px)

  .only-mobile, .row.only-mobile, .column.only-mobile
    display: none

  .only-desktop
    display: initial
    &.row, &.column
      display: flex

  @import "responsive/laptop"

@media screen and (min-width: 1320px)

  @import "responsive/desktop"
