@import "kouto-swiss"
@import "helpers"
@import "swiper"
@import "fonts"

// ******************************************************

// FONTS

// ******************************************************

// ICONS FONTS

// ** https://genericons.com WP icon font set
// @import "fonts/icons/genericons"

// ** minimal version of Google Materialize UI icons. check the styl for usage
@import "fonts/icons/materialize-min"

// ** full set of Google Materialize. https://design.google.com/icons/
// @import "fonts/icons/materialize"

// ******************************************************

meyer-reset()
box-sizing-reset()
normalize()

// ******************************************************

// GRID

$cols = 12
$gutter = 24px

.container
  margin: 0 auto
  width: 96%

.row
  box-sizing: border-box
  display: flex
  flex: 0 1 auto
  flex-direction: row
  flex-wrap: wrap
  &.reverse
    flex-direction: row-reverse

.u-flex
  display: flex

// FLEX POSITIONING

.justify-start
  justify-content: flex-start

.justify-center
  justify-content: center

.justify-end
  justify-content: flex-end

.align-start
  align-items: flex-start

.align-center
  align-items: center

.align-end
  align-items: flex-end

.align-content-start
  align-content: flex-start

.align-content-center
  align-content: center

.align-content-end
  align-content: flex-end

// COLUMN SIZES & OFFSETS

.col
  flex: 1 1 auto
  box-sizing: border-box
  max-width: 100%
  padding: 0 ($gutter / 2)

.col-no-gutter
  padding: 0

for offset in 0..($cols - 1)
  .offset-s-{offset}
    margin-left: ( 100% / $cols ) * offset

for col in 1..$cols
  .col-s-{col}
    flex-basis: ( 100% / $cols ) * col
    max-width: ( 100% / $cols ) * col

// ******************************************************

// VARIABLES

$golden-ratio = 1.61803398875

$margin-small = ($gutter)
$margin-tiny = ($gutter / 2)
$margin-micro = ($gutter / (2 * $golden-ratio))
$margin-basic = ($gutter * 2)
$margin-mid = ($gutter * 3.5)
$margin-large = ($gutter * 5)

$font-size-basic = 13px
$font-size-larger = 1.3rem
$font-size-h4 = golden-ratio(1rem , .3)
$font-size-h3 = golden-ratio(1rem , .5)
$font-size-h2 = golden-ratio(1rem , .8)
$font-size-h1 = golden-ratio(1rem , 1.2)

$font-leading-basic = 1.35
$font-leading-tighter = 1.15
$font-leading-larger = 1.45

$font-tracking-basic = 0.001em
$font-tracking-wider = 0.05em

$color-black-soft = rgb(14, 14, 14)
$color-white = rgb(255, 255, 255)
$color-grey = rgb(150, 150, 150)

$border-width = 2px

$speed-transition-fast = .1s

// ******************************************************

// TYPOGRAPHY

html
  font-family: "Montserrat", font-stack('Helvetica')
  font-size: $font-size-basic
  letter-spacing: $font-tracking-basic
  text-transform: uppercase

body
  line-height: $font-leading-basic

  // HTML ELEMENT STYLING

h1, .font-size-h1
  font-size: $font-size-h1
  line-height: $font-leading-tighter

h2, .font-size-h2
  font-size: $font-size-h2
  line-height: $font-leading-tighter

h3, .font-size-h3
  font-size: $font-size-h3

h4, .font-size-h4
  font-size: $font-size-h4

p
  margin-bottom: 1rem

  // FONT RULES

.font-serif
  font-family: 'Crimson Text', font-stack('Georgia')

.font-italic
  font-style: italic

.font-bold
  font-weight: bold

.font-small-caps
  font-size: 0.85em
  text-transform: uppercase

.font-uppercase
  text-transform: uppercase

.font-capitalize
  text-transform: capitalize

.font-letter-spaced
  letter-spacing: .1em

  // TEXT RULES

.text-overflow-ellipsis
  overflow: ellipsis

.text-align-left
  text-align: left

.text-align-right
  text-align: right

.text-align-center
  text-align: center

  // LINKS

a,
a:active,
a:visited
  color: inherit
  text-decoration: none

a:hover
  color: $color-grey

// ******************************************************

// BASIC

html
  background-color: $color-white
  color: $color-black-soft

img
  max-width: 100%
  height: auto

#main-content-holder
  height: 100vh

#main-content
  height: 100%

.only-mobile
  display: initial

.only-desktop
  display: none

// ******************************************************

// MARGINS AND PADDING

  // MARGIN TOP

.margin-top-micro
  margin-top: $margin-micro

.margin-top-tiny
  margin-top: $margin-tiny

.margin-top-small
  margin-top: $margin-small

.margin-top-basic
  margin-top: $margin-basic

.margin-top-mid
  margin-top: $margin-mid

.margin-top-large
  margin-top: $margin-large

  // MARGIN BOTTOM

.margin-bottom-micro
  margin-bottom: $margin-micro

.margin-bottom-tiny
  margin-bottom: $margin-tiny

.margin-bottom-small
  margin-bottom: $margin-small

.margin-bottom-basic
  margin-bottom: $margin-basic

.margin-bottom-mid
  margin-bottom: $margin-mid

.margin-bottom-large
  margin-bottom: $margin-large

  // PADDING TOP

.padding-top-micro
  padding-top: $margin-micro

.padding-top-tiny
  padding-top: $margin-tiny

.padding-top-small
  padding-top: $margin-small

.padding-top-basic
  padding-top: $margin-basic

.padding-top-mid
  padding-top: $margin-mid

.padding-top-large
  padding-top: $margin-large

  // PADDING BOTTOM

.padding-bottom-micro
  padding-bottom: $margin-micro

.padding-bottom-tiny
  padding-bottom: $margin-tiny

.padding-bottom-small
  padding-bottom: $margin-small

.padding-bottom-basic
  padding-bottom: $margin-basic

.padding-bottom-mid
  padding-bottom: $margin-mid

.padding-bottom-large
  padding-bottom: $margin-large

// ******************************************************

// SPLASH

.splash-container
  position: fixed
  width: 100%
  height: 100%
  top: 0
  left: 0
  display: flex
  justify-content: center
  flex-direction: column

.splash-swiper
  position: fixed !important
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: -9999

.splash-slide
  background-size: cover
  background-position: center
  background-repeat: no-repeat

.splash-header
  display: flex
  justify-content: center
  flex-direction: column
  flex: 9 0 0

.splash-logo
  display: flex
  justify-content: center
  align-items: flex-end;
  flex: 5 0 0

.splash-nav
  flex: 1 0 0

.splash-footer
  flex: 1 0 0

// ******************************************************

// HEADER

#header
  text-align: center

.menu-item
  margin: 0 $margin-tiny

#searchform
  input
    appearance: none
    border: 0
    background: none
    &:focus
      outline: none

// ******************************************************

// PRODUCT ARCHIVE

.shop-product
  position: relative
  img
    display: block
    width: 100%
  &:hover
    .shop-product-title-holder, .shop-product-sold-text
      opacity: 1

.shop-product-title-holder
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 50
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: rgba(255, 255, 255, .5)
  opacity: 0
  transition: opacity $speed-transition-fast

.shop-product-title
  margin: $margin-basic $margin-tiny

.shop-product-sold
  position: absolute
  top: 0
  left: 0
  padding: $margin-tiny
  margin-left: $margin-tiny
  color: $color-white

.shop-product-sold-icon
  width: auto
  height: $margin-tiny * 1.5
  display: inline-block

.shop-product-sold-text
  opacity: 0
  transition: opacity $speed-transition-fast

// ******************************************************

// ARCHIVE EDITORIAL

#posts-archive-editorial
  height: 100%
  .col
    height: 100%

#archive-editorial-titles
  margin-left: $margin-basic

// #archive-editorial-images
//   display: none

// ******************************************************

// JOURNAL

.journal-post
  /* FIX THIS AFTER MERGE
  /*
  /* width: ( 6 * $col ) + ( ( 6 - 1 ) * $gutter ) */
  margin: 0 $margin-tiny $margin-small

// ******************************************************

// FOOTER

.social-icon
  width: $margin-small
  margin-right: $margin-tiny

.post-date
  display: inline-block
  color: $color-grey
  border-bottom: $border-width solid $color-grey


// ******************************************************

// MEDIA QUERIES


@media screen and (min-width: 750px)

  @import "responsive/tablet"

@media screen and (min-width: 1150px)

  @import "responsive/desktop"