$cols = 12
$gutter = 32px

.col
  padding: 0 ($gutter / 2)

.col-l-0
  flex-basis: 0
  max-width: 0

for offset in 0..($cols - 1)
  .offset-l-{offset}
    margin-left: ( 100% / $cols ) * offset

for col in 1..$cols
  .col-l-{col}
    flex-basis: ( 100% / $cols ) * col
    max-width: ( 100% / $cols ) * col

// ******************************************************

// VARIABLES

$golden-ratio = 1.61803398875

$margin-small = ($gutter)
$margin-tiny = ($gutter / 2)
$margin-micro = ($gutter / (2 * $golden-ratio))
$margin-basic = ($gutter * 2)
$margin-mid = ($gutter * 3.5)
$margin-large = ($gutter * 5)

$header-height = 60px
$footer-height = 49px

// ******************************************************

// TYPOGRAPHY

.font-nav
  font-size: 13px

.font-nav-splash
  font-size: 21px

// PRODUCT FONT

.font-product-title
  font-size: 19px

.font-product-content
  font-size: 17px

.font-product-attr
  font-size: 12px

.font-product-price
  font-size: 14px

// SHOP FONT

.font-shop-title
  font-size: 14px

// POST FONT

.font-post-title
  font-size: 13px

.font-post-content
  font-size: 15px

.font-post-meta
  font-size: 12px

// ******************************************************

// BASIC

#main-content
  min-height: calc('100vh - ' + ($header-height + $footer-height + $margin-small))
  margin-top: ($header-height + $margin-small)

.pagination-button
  padding-left: $margin-small

.product-content
  max-height: 250px

// ******************************************************

// MARGINS AND PADDING

  // MARGIN TOP

.margin-top-micro
  margin-top: $margin-micro

.margin-top-tiny
  margin-top: $margin-tiny

.margin-top-small
  margin-top: $margin-small

.margin-top-basic
  margin-top: $margin-basic

.margin-top-mid
  margin-top: $margin-mid

.margin-top-large
  margin-top: $margin-large

  // MARGIN BOTTOM

.margin-bottom-micro
  margin-bottom: $margin-micro

.margin-bottom-tiny
  margin-bottom: $margin-tiny

.margin-bottom-small
  margin-bottom: $margin-small

.margin-bottom-basic
  margin-bottom: $margin-basic

.margin-bottom-mid
  margin-bottom: $margin-mid

.margin-bottom-large
  margin-bottom: $margin-large

  // PADDING TOP

.padding-top-micro
  padding-top: $margin-micro

.padding-top-tiny
  padding-top: $margin-tiny

.padding-top-small
  padding-top: $margin-small

.padding-top-basic
  padding-top: $margin-basic

.padding-top-mid
  padding-top: $margin-mid

.padding-top-large
  padding-top: $margin-large

  // PADDING BOTTOM

.padding-bottom-micro
  padding-bottom: $margin-micro

.padding-bottom-tiny
  padding-bottom: $margin-tiny

.padding-bottom-small
  padding-bottom: $margin-small

.padding-bottom-basic
  padding-bottom: $margin-basic

.padding-bottom-mid
  padding-bottom: $margin-mid

.padding-bottom-large
  padding-bottom: $margin-large

// ******************************************************

// PRODUCT ARCHIVE

.shop-product-title
  margin: $margin-basic $margin-tiny $margin-tiny
  padding: 0 $margin-micro

.shop-product-sold
  left: $margin-tiny
  padding: $margin-micro

// ******************************************************

// SPLASH

.splash-nav
  font-size: 24px

// ******************************************************

// HEADER

#header
  .col
    margin-bottom: 0

#header-logo
  svg
    width: 100%

.menu-item
  margin-right: $margin-tiny

.toggle-sold-holder
  text-align: left

#mobile-nav
  display: none

#cart-update-notice
  right: $margin-tiny
  margin-top: $margin-tiny

// ******************************************************

// ARCHIVE EDITORIAL

#archive-editorial-titles
  margin-left: $margin-basic

#posts-archive-editorial
  min-height: calc('100vh - ' + ($header-height + $footer-height))

// ******************************************************

// SINGLE EDITORIAL

.set-swiper-height
  height: calc('100vh - ' + ($header-height + $footer-height + $margin-small))

.slider-row
  flex-flow: row wrap

#editorial-title
  font-size: 13px

// ******************************************************

// FOOTER

.social-icon
  width: 20px

// ******************************************************

// POPUP

#newsletter-popup-content
  padding: $margin-small

// ******************************************************

// CART

.gws-cart
  width: 50%
