$cols = 12
$gutter = 32px

.container
  width: 750px

.col
  padding: 0 ($gutter / 2)
  margin-bottom: $gutter

for offset in 0..($cols - 1)
  .offset-m-{offset}
    margin-left: ( 100% / $cols ) * offset

for col in 1..$cols
  .col-m-{col}
    flex-basis: ( 100% / $cols ) * col
    max-width: ( 100% / $cols ) * col

// ******************************************************

// VARIABLES

$golden-ratio = 1.61803398875

$margin-small = ($gutter)
$margin-tiny = ($gutter / 2)
$margin-micro = ($gutter / (2 * $golden-ratio))
$margin-basic = ($gutter * 2)
$margin-mid = ($gutter * 3.5)
$margin-large = ($gutter * 5)

$font-size-basic = 13px
$font-size-larger = 1.3rem
$font-size-h4 = golden-ratio(1rem , .3)
$font-size-h3 = golden-ratio(1rem , .5)
$font-size-h2 = golden-ratio(1rem , .8)
$font-size-h1 = golden-ratio(1rem , 1.2)

// ******************************************************

// BASIC

$header-height = (55px + $margin-small)
$footer-height = (28px)

#main-content-holder
  min-height: calc("100vh - " + ($header-height + $footer-height))

.only-mobile
  display: none

.only-desktop
  display: initial

// ******************************************************

// TYPOGRAPHY

html
  font-size: $font-size-basic
  letter-spacing: $font-tracking-basic

body
  line-height: $font-leading-basic

  // HTML ELEMENT STYLING

h1, .font-size-h1
  font-size: $font-size-h1
  line-height: $font-leading-tighter

h2, .font-size-h2
  font-size: $font-size-h2
  line-height: $font-leading-tighter

h3, .font-size-h3
  font-size: $font-size-h3

h4, .font-size-h4
  font-size: $font-size-h4

// ******************************************************

// BASIC

.pagination-button
  padding-left: $margin-small

.set-content-height
  height: 320px
  img
    width: initial
    max-height: 100%
    height: initial
    max-width: initial

// ******************************************************

// MARGINS AND PADDING

  // MARGIN TOP

.margin-top-micro
  margin-top: $margin-micro

.margin-top-tiny
  margin-top: $margin-tiny

.margin-top-small
  margin-top: $margin-small

.margin-top-basic
  margin-top: $margin-basic

.margin-top-mid
  margin-top: $margin-mid

.margin-top-large
  margin-top: $margin-large

  // MARGIN BOTTOM

.margin-bottom-micro
  margin-bottom: $margin-micro

.margin-bottom-tiny
  margin-bottom: $margin-tiny

.margin-bottom-small
  margin-bottom: $margin-small

.margin-bottom-basic
  margin-bottom: $margin-basic

.margin-bottom-mid
  margin-bottom: $margin-mid

.margin-bottom-large
  margin-bottom: $margin-large

  // PADDING TOP

.padding-top-micro
  padding-top: $margin-micro

.padding-top-tiny
  padding-top: $margin-tiny

.padding-top-small
  padding-top: $margin-small

.padding-top-basic
  padding-top: $margin-basic

.padding-top-mid
  padding-top: $margin-mid

.padding-top-large
  padding-top: $margin-large

  // PADDING BOTTOM

.padding-bottom-micro
  padding-bottom: $margin-micro

.padding-bottom-tiny
  padding-bottom: $margin-tiny

.padding-bottom-small
  padding-bottom: $margin-small

.padding-bottom-basic
  padding-bottom: $margin-basic

.padding-bottom-mid
  padding-bottom: $margin-mid

.padding-bottom-large
  padding-bottom: $margin-large

// ******************************************************

// HEADER

#header
  text-align: left

.editorial-title
  text-align: right

// ******************************************************

// ARCHIVE EDITORIAL

#archive-editorial-titles
  margin-left: $margin-basic

#archive-editorial-images
  display: flex

.archive-editorial-image
  &:not(:first-of-type)
    display: none

// ******************************************************

// WOO CART

.woocommerce table.shop_table td
  padding: $margin-tiny

.woocommerce-cart table.cart td.actions .coupon .input-text
  width: auto

.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals
  width: 35%
