$cols = 12
$gutter = 28px

.container
  width: 750px

.col
  padding: 0 ($gutter / 2)

for offset in 0..($cols - 1)
  .offset-m-{offset}
    margin-left: ( 100% / $cols ) * offset

for col in 1..$cols
  .col-m-{col}
    flex-basis: ( 100% / $cols ) * col
    max-width: ( 100% / $cols ) * col

// ******************************************************

// BASIC

.only-mobile
  display: none

.only-desktop
  display: initial

// ******************************************************

// HEADER

#header
  text-align: left

.editorial-title
  text-align: right

// ******************************************************

// ARCHIVE EDITORIAL

#posts-archive-editorial
  .col
    min-height: 620px

#archive-editorial-titles
  margin-left: $margin-basic

#archive-editorial-images
  display: flex

.archive-editorial-image
  &:not(:first-of-type)
    display: none

// ******************************************************